body {
  background-color: #AADD96;
  font-family: "Lora", serif;
  text-align: center;
}

a {
  margin: auto 5px;
}

hr {
  background-color: unset;
  border: dotted #3F7652 5px;
  border-bottom: none;
  width: 50px;
}

.top-container {
  padding: 50px 0 50px 0;
}

.middle-container {
}

.bottom-container {
  padding: 50px 0 0 0;
}

.profile-row {
  padding: 50px 0 50px 0;
}

.education-row {
  padding: 50px 0 50px 0;
}

.contact-row {
  padding: 50px 0 50px 0;
}

.top-cloud {
  height: 125px;
  position: absolute;
  right: 550px;
  top: 75px;
}

.bottom-cloud {
  height: 125px;
  position: absolute;
  left: 550px;
  top: 150px;
}

.flower {
  height: 500px;
}

.profile {
  border-radius: 100px;
  height: 125px;
}

.btn {
  display: inline-block;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  text-shadow: 1px 1px 3px #666666;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  font-family: Georgia;
  color: #ffffff;
  font-size: 20px;
  background: #3f7652;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
