section#games {
    display: grid;
    grid-template-columns: 5dvw calc(80dvw/3) 5dvw calc(80dvw/3) 5dvw calc(80dvw/3) 5dvw;
    grid-template-rows: 5dvh 20dvh 5dvh 40dvh 5dvh;
    height: 75dvh;
    width: 100dvw;
}

section#games > div.games-heading {
    grid-area: 2 / 2 / 3 / 7;
    display: flex;
    justify-content: center;
    align-items: center;
}

section#games > div.sega > img {
    max-height: calc(40dvh/3*60/100);
    max-width: calc(80dvw/3*60/100);
}

section#games > div.sega {
    grid-area: 4 / 4 / 5 / 5;
    background-image: url(/nexus/catalogue/games/images/sega.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 25px;
    box-shadow: inset 0 0 0 1000px #C7C7C750;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
