body {
    background-color: #AADD96;
    font-family: "Lora", serif;
    margin: 0;
}

h1 {
    color: #3F7652;
    font-family: 'Times New Roman', Times, serif;
    font-size: 7.5vh;
    font-weight: normal;
    margin: 0;
    white-space: nowrap;
}

h2 {
    font-family: "Oooh Baby", cursive;
    font-size: 5.5vh;
    margin: 1.25vh;
}

h3 {
    font-size: 2.25vh;
    font-weight: normal;
    margin: 1.25vh;
}

/* HEADER */

header {
    display: grid;
    grid-template-columns: calc(100%/6) calc(100%/6*4) calc(100%/6);
    grid-template-rows: 5vh 10vh 5vh;
    height: 20vh;
    width: 100%;
}

header > div.heading {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: 2 / 2 / 3 / 3;
    height: 10vh;
    width: 100%;
}

/* NAV */

nav {
    background-color: #3F7652;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 5vh;
    width: 100%;
}

nav > a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}