body {
    background-color: #AADD96;
    margin: 0;
}

header {
    display: grid;
    grid-template: 2.5vh 15vh 2.5vh / 12.5% 75% 12.5%;
    background-image: url(../assets/header-hiroshige-sokokura-resized.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    justify-content: center;
    align-items: center;
    height: 20vh;
    width: 100%;
}

header > div {
    display: flex;
    grid-area: 2 / 2 / 3 / 3;
    justify-content: center;
    align-items: center;
}
header > div > h1 {
    display: inline-block;
    color: #3F7652;
    font-family: 'Times New Roman', Times, serif;
    font-size: 5rem;
    font-weight: normal;
    text-shadow: 1px 1px white, 1px 1px 10px white;
    white-space: nowrap;
    margin: 0;
}

@media (max-width: 759px) {
  
    header > div > h1 {
        font-size: 10.5vw;
        text-align: center;
        white-space: wrap;
    }
}

@media (max-width: 274px) {
  
    header {
        background-size: 100% 100%;
    }
}

nav {
    display: grid;
    grid-template: 5vh / 12.5% 25% 25% 25% 12.5%;
    background-color: #3F7652;
    justify-content: center;
    align-items: center;
    height: 5vh;
    width: 100%;
}

nav > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav > div > a {
    color: white;
    font-family: "Lora", serif;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 0 0 1px white;
}

nav > div.nav-encyclopedia {
    grid-area: 1 / 2 / 2 / 3;
}

nav > div.nav-homepage {
    grid-area: 1 / 3 / 2 / 4;
}

section#selection {
    display: grid;
    grid-template: 5vh calc(65vh/3) calc(65vh/3) calc(65vh/3) 5vh / 12.5% 25% 25% 25% 12.5%;
    justify-content: center;
    align-items: center;
}

div.choice {
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 150px;
    width: 150px;
    border-radius: 25%
}

div.choice:hover {
    box-shadow: 0 0 10px white;
    padding: 0.50px;
}

div#sel1 {
    background-color: black;
    background-image: url(./assets/silent-hill-icon.jpg);
    grid-area: 2 / 2 / 3 / 3;
}

div#sel1:hover {
    box-shadow: 0 0 10px black, 0 0 10px white;   
}

div#sel2 {
    background-color: #edc417;
    background-image: url(./assets/sonic-icon.jpg);
    grid-area: 2 / 3 / 3 / 4;
}

div#sel2:hover {
    box-shadow: 0 0 10px #edc417, 0 0 10px white;   
}

div#sel3 {
    grid-area: 2 / 4 / 3 / 5;
}

div#sel4 {
    grid-area: 3 / 2 / 4 / 3;
}

div#sel5 {
    grid-area: 3 / 3 / 4 / 4;
}

div#sel6 {
    grid-area: 3 / 4 / 4 / 5;
}

div#sel7 {
    grid-area: 4 / 2 / 5 / 3;
}

div#sel8 {
    grid-area: 4 / 3 / 5 / 4;
}

div#sel9 {
    grid-area: 4 / 4 / 5 / 5;
}