section#products {
    display: grid;
    grid-template: repeat(5, 2.5vh calc(67.5vh / 2)) / 12.5% 75% 12.5%;
}

section#products > div.gfs {
    grid-column: 2 / 3;
    background-color: #3F7652;
    border-radius: 0.5rem;
    display: grid;
    grid-template: calc(67.5vh / 2) / calc(67.5vh / 2 * 3 / 4 * 5 / 7) auto;
}

section#products > div#gfs1 { grid-row: 2 / 3; }

section#products > div#gfs2 { grid-row: 4 / 5; }

section#products > div#gfs3 { grid-row: 6 / 7; }

section#products > div#gfs4 { grid-row: 8 / 9; }

section#products > div#gfs5 { grid-row: 10 / 11; }

section#products > div.gfs:hover {
    box-shadow: 0 0 10px #3F7652, 0 0 10px white;
}

section#products > div.gfs > div.gfsinfo {
    background-color: white;
    height: calc(67.5vh / 2);
    width: 100%;
    border-radius: 0.5rem;
    grid-column: 1 / 2;
    display: grid;
    grid-template: calc(67.5vh / 2 * 3 / 4) calc(67.5vh / 2 * 1 / 4) / calc(67.5vh / 2 * 3 / 4 * 5 / 7);
}

section#products > div.gfs > div.gfsinfo > div.gfscover,section#products > div.gfs > div.gfsinfo > div.gfstitle {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0.5rem;
}

section#products > div#gfs1 > div.gfsinfo > div.gfscover {
    background-image: url(./assets/sonic-the-hedgehog.jpg);
}

section#products > div#gfs1 > div.gfsinfo > div.gfstitle {
    background-image: url(https://asia.sega.com/SonicOrigins/en/images/about/about-titlelogo-sonic.png);
}