/* SECTION MODPACK */
section#modpack {
    display: grid;
    grid-template: 2.5vh calc(70vh*1/3) auto / 12.5% 25% 25% 25% 12.5%;
    height: auto;
    width: 100%;
}
/* SECTION MODPACK */
section#modpack > div.welcome {
    grid-area: 2 / 3 / 3 / 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* SECTION MODPACK */
section#modpack > div.welcome > h2 {
    font-family: "Jersey 10", sans-serif;
    letter-spacing: 3px;
}
/* SECTION MODPACK */
section#modpack > div.welcome > p {
    text-align: center;
    white-space: nowrap;
}
/* SECTION MODPACK */
section#modpack div.welcome h3 {
    font-family: "Oooh Baby", cursive;
    text-align: center;
    white-space: nowrap;
}
/* SECTION MODPACK */
section#modpack > div.welcome span {
    font-weight: normal;
}
/* SECTION MODPACK */
section#modpack > div.welcome > h2,h3,p {
    margin: 0.25rem;
}
/* SECTION MODPACK */
section#modpack > div.list1 {
    grid-area: 3 / 3 / 4 / 4;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
/* SECTION MODPACK */
section#modpack > div.list1 > table th {
    text-align: left;
}
/* SECTION MODPACK */
td#new1 {
    display: flex;
    align-items: center;
    gap: 2.5%;
}
/* SECTION MODPACK */
section#modpack > div.list1 > table div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://88x31.nl/gifs/88x31gold.gif);
    height: 31px;
    width: 81px;
}
/* SECTION MODPACK */
section#modpack > div.list1 > table div > p {
    color: black;
    font-family: "Jersey 10", sans-serif;
    font-weight: bold;
    letter-spacing: 3px;
}
/* SECTION MODPACK */
section#modpack > div.tip1,section#modpack > div.tips > div {
    background-color: #3F7652;
}
section#modpack > div.tip1 {
    grid-area: 3 / 4 / 4 / 5;
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: calc(70vh*1/5);
    width: calc(100% - 100% / 3);
    border-radius: 0.5rem;
    margin: 2.5vh 0 0 0;
}
/* SECTION MODPACK */
section#modpack > div.tip1 p {
    color: white;
    font-weight: bold;
    text-shadow: 0 0 1px white;
}
/* SECTION MODPACK */
section#modpack > div.tip1 > div.wrap1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 100% / 3);
}
/* SECTION MODPACK */
section#modpack > div.tip1 > div.wrap1 > img {
    height: 100%;
    width: 100%;
}
/* SECTION MODPACK */
section#modpack > div.tip1:hover,section#modpack > div.tips > div:hover {
    box-shadow: 0 0 10px #3F7652, 0 0 10px white;
}
/* SECTION MODPACK */
section#modpack > div.tips p {
    color: white;
    font-weight: bold;
    text-shadow: 0 0 1px white;
}
/* SECTION MODPACK */
section#modpack > div.tips {
    grid-area: 3 / 4 / 4 / 6;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2.5vh;
    width: calc(100% - 100% / 3);
    margin: calc(2.5vh + 70vh * 1 / 5) 0 0 0;
}
/* SECTION MODPACK */
section#modpack > div.tips > div {
    width: 100%;
    border-radius: 0.5rem;
}
/* SECTION MODPACK */
section#modpack > div.tips > div.tip2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: calc(100% - 100% / 3);
    border-radius: 0.5rem;
    margin: 2.5vh 0 0 0;
}
/* SECTION MODPACK */
section#modpack > div.tips > div.s1 {
    background-image: url(./assets/step1.png);
    height: calc(70vh*1/3);
    width: calc(100% - 100% / 3);
    border-radius: 0.5rem;
}
/* SECTION MODPACK */
section#modpack > div.tips > div.s2 {
    background-image: url(./assets/step2.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 35vh;
}
/* SECTION MODPACK */
section#modpack > div.tips > div.s3 {
    background-image: url(./assets/step3.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 30vh;
}
/* SECTION MODPACK */
section#modpack > div.tips > div.s4 {
    background-image: url(./assets/step4.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 20vh;
}
/* SECTION MODPACK */
section#modpack > div.tip3 {
    grid-area: 3 / 2 / 4 / 3;
    justify-self: center;
    background-color: goldenrod;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: calc(70vh*1/5);
    width: calc(100% - 100% / 3);
    border-radius: 0.5rem;
    margin: 2.5vh 0 0 0;
}
/* SECTION MODPACK */
section#modpack > div.tip3 > h3 {
    font-family: "Oooh Baby", cursive;
    font-size: 1.5rem;
}
/* SECTION MODPACK */
section#modpack > div.tip3 > p > span {
    font-weight: bold;
}
/* SECTION MODPACK */
section#modpack > div.tip3:hover {
    box-shadow: 0 0 10px goldenrod, 0 0 10px white;
}

@media (max-width: 1900px) {
    /* SECTION MODPACK */
    section#modpack > div.tip1,section#modpack > div.tip3 {
        height: calc(70vh*1/6);
        width: calc(100% - 100% / 3);
    }
    /* SECTION MODPACK */
    section#modpack > div.tip1 p,section#modpack > div.tip3 p,section#modpack > div.tips p {
        font-size: 0.75rem;
    }
    /* SECTION MODPACK */
    section#modpack > div.tips {
        margin: calc(2.5vh + 70vh * 1 / 6) 0 0 0;
    }
    /* SECTION MODPACK */
    section#modpack > div.tips > div.s2,section#modpack > div.tips > div.s3,section#modpack > div.tips > div.s4 {
        width: 100%; 
    }
    /* SECTION MODPACK */
    section#modpack > div.tips > div.s1 {
        height: calc(70vh*1/4);
    }
    /* SECTION MODPACK */
    section#modpack > div.tips > div.s2 {
        height: 30vh;
    }
    /* SECTION MODPACK */
    section#modpack > div.tips > div.s3 {
        height: 20vh;
    }
    /* SECTION MODPACK */
    section#modpack > div.tips > div.s4 {
        height: 15vh;
    }
}

@media (max-width: 1750px) {
    /* SECTION MODPACK */
    section#modpack > div.tip1,section#modpack > div.tip3 {
        height: calc(70vh*1/7);
        width: calc(100% - 100% / 3);
    }
    /* SECTION MODPACK */
    section#modpack > div.tip1 p,section#modpack > div.tip3 p,section#modpack > div.tips p {
        font-size: 0.5rem;
    }
    /* SECTION MODPACK */
    section#modpack > div.tips {
        margin: calc(2.5vh + 70vh * 1 / 7) 0 0 0;
    }
    /* SECTION MODPACK */
    section#modpack > div.tips > div.s2,section#modpack > div.tips > div.s3,section#modpack > div.tips > div.s4 {
        width: 100%;
    }
    /* SECTION MODPACK */
    section#modpack > div.tips > div.s1 {
        height: calc(70vh*1/5);
    }
    /* SECTION MODPACK */
    section#modpack > div.tips > div.s2 {
        height: 27vh;
    }
    /* SECTION MODPACK */
    section#modpack > div.tips > div.s3 {
        height: 17vh;
    }
    /* SECTION MODPACK */
    section#modpack > div.tips > div.s4 {
        height: 12vh;
    }
}

@media (max-width: 1024px) {
    /* SECTION MODPACK */
    section#modpack > div.list1 {
        grid-area: 3 / 2 / 4 / 5;
    }
    /* SECTION MODPACK */
    section#modpack > div.list1 > table {
        font-size: 0.75rem;
    }
    /* SECTION MODPACK */
    section#modpack > div.list1 > table button {
        font-size: 0.75rem;
    }
    /* SECTION MODPACK */
    section#modpack > div.tips {
        grid-area: 4 / 2 / 5 / 5;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 2.5vh;
        width: 100%;
        margin: 0;
    }
    /* SECTION MODPACK */
    section#modpack > div.tip1 {
        justify-self: flex-end;
    }
    /* SECTION MODPACK */
    section#modpack > div.tip1 > div.wrap1 {
        flex-direction: column;
    }
    /* SECTION MODPACK */
    section#modpack > div.tip3 {
        justify-self: flex-start;
    }
    /* SECTION MODPACK */
    section#modpack > div.tip1,section#modpack > div.tip3 {
        width: calc(100% - 100% / 2.75);  
    }
    /* SECTION MODPACK */
    section#modpack > div.tip1 p,section#modpack > div.tip3 p {
        text-align: center;
    }
}

@media (max-width: 768px) {
    /* SECTION MODPACK */
    section#modpack > div.tip1 {
        grid-area: 3 / 4 / 4 / 6;
    }
    /* SECTION MODPACK */
    section#modpack > div.tip3 {
        grid-area: 3 / 1 / 4 / 3;
    }    
    /* SECTION MODPACK */
    section#modpack > div.tip1,section#modpack > div.tip3 {
        width: calc(100% - 100% / 2.5);
    }
}

@media (max-width: 575px) {
    /* SECTION MODPACK */
    section#modpack > div.tip1 {
        grid-area: 2 / 4 / 3 / 6;
    }
    /* SECTION MODPACK */
    section#modpack > div.tip3 {
        grid-area: 2 / 1 / 3 / 3;
    }
    /* SECTION MODPACK */
    section#modpack > div.tip3 > h3 {
        font-size: 1.25rem;
    }
    /* SECTION MODPACK */
    section#modpack > div.tip1,section#modpack > div.tip3 {
        align-self: center;
    }
    /* SECTION MODPACK */
    section#modpack > div.tip1 p,section#modpack > div.tip3 p {
        font-size: 0.4rem;
    }
}

@media (max-width: 425px) {
    /* SECTION MODPACK */
    section#modpack > div.list1 > table {
        font-size: 0.625rem;
    }
    /* SECTION MODPACK */
    section#modpack > div.list1 > table button {
        font-size: 0.625rem;
    }
    /* SECTION MODPACK */
    section#modpack > div.list1 > table div {
        height: calc(31px - 31px * 1 / 4);
        width: calc(81px - 81px * 1 / 4);
    }
    /* SECTION MODPACK */
    section#modpack > div.tip1,section#modpack > div.tip3 {
        height: calc(70vh*1/8);
        align-self: flex-end;
    }
    /* SECTION MODPACK */
    section#modpack > div.tip3 > h3 {
        font-size: 1rem;
    }
}

@media (max-width: 375px) {
    /* SECTION MODPACK */
    section#modpack > div.tip1,section#modpack > div.tip3 {
        width: calc(100% - 100% / 2);
    }
    /* SECTION MODPACK */
    section#modpack > div.tip1 p,section#modpack > div.tip3 p {
        font-size: 0.3rem;
    }
}

@media (max-width: 320px) {
    /* SECTION MODPACK */
    section#modpack > div.list1 > table {
        font-size: 0.5rem;
    }
    /* SECTION MODPACK */
    section#modpack > div.list1 > table button {
        font-size: 0.5rem;
    }
    /* SECTION MODPACK */
    section#modpack > div.list1 > table div {
        height: calc(31px - 31px * 1 / 5);
        width: calc(81px - 81px * 1 / 5);
    }
    /* SECTION MODPACK */
    section#modpack > div.tip1,section#modpack > div.tip3 {
        display: absolute;
        visibility: hidden;
    }
}